<div class="jumbotron">
    <h1>Metro Stations public API</h1>
    <p class="lead">Here you can get actual information about all metro stations in target city<sup>*</sup></p>
    <p>Now available for <b>Moscow</b> and <b>Saint-Petersburg</b> only</p>
    <p><a href="@Url.Content("~/Help")" class="btn btn-primary btn-lg">Check help docs about this API &raquo;</a></p>
    <p style="font-size:small;">* - information about stations provided by <a href="https://www.wikipedia.org/">Wikipedia.org</a></p>
</div>
