<div class="jumbotron">
    <h1>Metroapi</h1>
    <p class="lead">Станции метро в вашем приложении.</p>
    <p>Сервис предоставляет сведения о линиях и станциях метрополитена. На сегодня доступны схемы метро Москвы и Санкт-Петербурга.</p>
    <p><a href="@Url.Content("~/swagger")" class="btn btn-primary btn-lg">Документация &raquo;</a></p>
    <p><small>Metroapi &mdash; это публичный программный интерфейс с открытым кодом и бесплатным доступом. 
        Если вы нашли ошибку, хотите добавить новую станцию или схему целого города, будем рады принять <a href="https://github.com/bolkhovsky/metroapi">пулл реквест</a>. 
        Если вы разработали библиотеку для взаимодействия с нашим API на любом из языков, <a href="mailto:ilya@721lab.com">напишите нам</a>.</small>
    </p>
</div>
