<div class="jumbotron">
    <h1>MetroApi</h1>
    <p class="lead">Сервис предоставляет сведения о линиях и станциях метрополитена. На сегодня доступны схемы метро Москвы и Санкт-Петербурга.</p>
    <p><a href="@Url.Content("~/swagger")" class="btn btn-primary btn-lg">Документация &raquo;</a></p>

    <h3>Клиент для .NET</h3>
    <div class="nuget-badge">
        <p>
            <code>
                Install-Package MetroApi.Client
            </code>
        </p>
    </div>

    <p>
        <small>
            MetroApi &mdash; это публичный программный интерфейс с открытым кодом и бесплатным доступом.
            Если вы хотите добавить новую станцию, схему нового города или просто нашли ошибку,
            сделайте <a href="https://github.com/bolkhovsky/metroapi">пулл реквест</a> &mdash; заранее спасибо!
            Если вы разработали библиотеку для взаимодействия с API на любом из языков, <a href="mailto:ilya@721lab.com">напишите мне</a>.
        </small>
    </p>
</div>
