<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="metroapi" type="MetroApi.Core.Configuration.MetroApiConfig, MetroApi.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <metroapi>
    <cities>
      <city id="spb" filepath="..\..\data\saint-petersburg.xml" />
      <city id="moscow" filepath="..\..\data\moscow.xml" />
    </cities>
  </metroapi>
</configuration>