body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.nuget-badge {
    width: 720px;
}
.nuget-badge p {
	line-height: 1.538em;
	margin: 0 0 1em;
    color: #333;
    font-family: "Segoe UI","Trebuchet MS",Verdana,Helvetica,Sans-Serif;
    font-size: .85em;
}
.nuget-badge code {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #202020;
	border: 4px solid silver;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #6e6e6e;
	color: #e2e2e2;
	display: block;
	font: 1.5em 'andale mono','lucida console',monospace;
	line-height: 1.5em;
	overflow: auto;
	padding: 15px;
}