<div class="jumbotron">
    <h1>API схем метро</h1>
    <p class="lead">Metroapi.ru - это публичный программный интерфейс с открытым кодом, который выдаёт сведения о линиях и станциях метрополитена для городов России.</p>
    <p>На сегодня доступны сведения о схемах метро в <a href="/api/metro/moscow">Москве</a> и Санкт-Петербурге.</p>
    <p><a href="@Url.Content("~/swagger")" class="btn btn-primary btn-lg">Документация API &raquo;</a></p>
</div>
